<div class="row justify-content-lg-center g-3">
    <h1><%= survey.title %></h1>
 <!--Form Starts here-->
            <form class="form" method="post">
             <label for="NameTextField">  <%= survey.questions.q1.questionNo %>. &nbsp; <%= survey.questions.q1.questionText %></label>
                <br>
                <fieldset id="group1">
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="group1" id="inlineRadio1" value=<%=survey.questions.q1.resOptions.opt1.optNo %>>
                <label class="form-check-label" for="inlineRadio1"><%= survey.questions.q1.resOptions.opt1.optText %> </label>
               </div>
           <div class="form-check form-check-inline">
             <input class="form-check-input" type="radio" name="group1" id="inlineRadio2" value="survey.questions.q1.resOptions.opt2.optNo">
             <label class="form-check-label" for="inlineRadio2"> <%= survey.questions.q1.resOptions.opt2.optText %></label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="group1" id="inlineRadio2" value="survey.questions.q1.resOptions.opt3.optNo">
            <label class="form-check-label" for="inlineRadio2"><%= survey.questions.q1.resOptions.opt3.optText %></label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="group1" id="inlineRadio2" value="survey.questions.q1.resOptions.opt4.optNo">
            <label class="form-check-label" for="inlineRadio2"><%= survey.questions.q1.resOptions.opt4.optText %></label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="group1" id="inlineRadio2" value="survey.questions.q1.resOptions.opt5.optNo">
            <label class="form-check-label" for="inlineRadio2"><%= survey.questions.q1.resOptions.opt5.optText %></label>
            </div>
            </fieldset>
                <br><br>

            <label for="NameTextField">  <%= survey.questions.q2.questionNo %>. &nbsp; <%= survey.questions.q2.questionText %></label>
            <br>
                <fieldset id="group2">
                <div class="form-check form-check-inline">
                     <input class="form-check-input" type="radio" name="group2" id="inlineRadio1" value="survey.questions.q2.resOptions.opt1.optNo">
                       <label class="form-check-label" for="inlineRadio1"><%= survey.questions.q2.resOptions.opt1.optText %> </label>
                         </div>
                        <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="group2" id="inlineRadio2" value="survey.questions.q2.resOptions.opt2.optNo">
                <label class="form-check-label" for="inlineRadio2"><%= survey.questions.q2.resOptions.opt2.optText %></label>
                </div>
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="group2" id="inlineRadio2" value="survey.questions.q2.resOptions.opt3.optNo">
                <label class="form-check-label" for="inlineRadio2"><%= survey.questions.q2.resOptions.opt3.optText %></label>
                </div>
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="group2" id="inlineRadio2" value="survey.questions.q2.resOptions.opt4.optNo">
                <label class="form-check-label" for="inlineRadio2"><%= survey.questions.q2.resOptions.opt4.optText %></label>
                </div>
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="group2" id="inlineRadio2" value="survey.questions.q2.resOptions.opt5.optNo">
                <label class="form-check-label" for="inlineRadio2"><%= survey.questions.q2.resOptions.opt5.optText %></label>
                </div>
                </fieldset>
                <br><br>

                <label for="NameTextField">  <%= survey.questions.q3.questionNo %>. &nbsp; <%= survey.questions.q3.questionText %></label>
                <br>
                <fieldset id="group3">
                <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="group3" id="inlineRadio1" value="survey.questions.q3.resOptions.opt1.optNo">
                       <label class="form-check-label" for="inlineRadio1"><%= survey.questions.q3.resOptions.opt1.optText %> </label>
                         </div>
                 <div class="form-check form-check-inline">
                 <input class="form-check-input" type="radio" name="group3" id="inlineRadio2" value="survey.questions.q3.resOptions.opt2.optNo">
                    <label class="form-check-label" for="inlineRadio2"><%= survey.questions.q3.resOptions.opt2.optText %></label>
                    </div>
                    <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="group3" id="inlineRadio2" value="survey.questions.q3.resOptions.opt3.optNo">
                    <label class="form-check-label" for="inlineRadio2"><%= survey.questions.q3.resOptions.opt3.optText %></label>
                    </div>
                    <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="group3" id="inlineRadio2" value="survey.questions.q3.resOptions.opt4.optNo">
                    <label class="form-check-label" for="inlineRadio2"><%= survey.questions.q3.resOptions.opt4.optText %></label>
                    </div>
                    <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="group3" id="inlineRadio2" value="survey.questions.q3.resOptions.opt5.optNo">
                    <label class="form-check-label" for="inlineRadio2"><%= survey.questions.q3.resOptions.opt5.optText %></label>
                    </div>
                    </fieldset>
                <br><br>

                <label for="NameTextField">  <%= survey.questions.q4.questionNo %>. &nbsp; <%= survey.questions.q4.questionText %></label>
                <br>
                <fieldset id="group4">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="group4" id="inlineRadio1" value="survey.questions.q4.resOptions.opt1.optNo">
                       <label class="form-check-label" for="inlineRadio1"><%= survey.questions.q4.resOptions.opt1.optText %> </label>
                         </div>
           <div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="group4" id="inlineRadio2" value="survey.questions.q4.resOptions.opt2.optNo">
  <label class="form-check-label" for="inlineRadio2"><%= survey.questions.q4.resOptions.opt2.optText %></label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="group4" id="inlineRadio2" value="survey.questions.q4.resOptions.opt3.optNo">
  <label class="form-check-label" for="inlineRadio2"><%= survey.questions.q4.resOptions.opt3.optText %></label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="survey.questions.q4.resOptions.opt4.optNo">
  <label class="form-check-label" for="inlineRadio2"><%= survey.questions.q4.resOptions.opt4.optText %></label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="survey.questions.q4.resOptions.opt5.optNo">
  <label class="form-check-label" for="inlineRadio2"><%= survey.questions.q4.resOptions.opt5.optText %></label>
</div>
</fieldset>
<br><br>

 <label for="NameTextField">  <%= survey.questions.q5.questionNo %>. &nbsp; <%= survey.questions.q5.questionText %></label>
                <br>
              <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="survey.questions.q5.resOptions.opt1.optNo">
                       <label class="form-check-label" for="inlineRadio1"><%= survey.questions.q5.resOptions.opt1.optText %> </label>
                         </div>
           <div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="survey.questions.q5.resOptions.opt2.optNo">
  <label class="form-check-label" for="inlineRadio2"><%= survey.questions.q5.resOptions.opt2.optText %></label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="survey.questions.q5.resOptions.opt3.optNo">
  <label class="form-check-label" for="inlineRadio2"><%= survey.questions.q5.resOptions.opt3.optText %></label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="survey.questions.q5.resOptions.opt4.optNo">
  <label class="form-check-label" for="inlineRadio2"><%= survey.questions.q5.resOptions.opt4.optText %></label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="survey.questions.q5.resOptions.opt5.optNo">
  <label class="form-check-label" for="inlineRadio2"><%= survey.questions.q5.resOptions.opt5.optText %></label>
</div>
<br><br>
              
          

                  <br>
              <!--Submit Button-->
              <button type="submit" class="btn btn-primary"><i class="fa fa-check-square-o"></i> Submit</button>
             
              <a href="/books" class="btn btn-warning"><i class="fa fa-undo"></i> Cancel</a>
            </form>

</div>
<br><br><br>
<br>
<br>
