<div class="row justify-content-lg-center g-3">
    <h1><%= survey.title %></h1>
<main class="container">
    <div class="row">
        <div class="col">
           
            <br><br>
            <table class="table table-bordered table-striped table-hover">
                <!--Header Row-->
                <thead class="table-dark">
                <tr>
                    <th class="text-center col-2">Name</th>
                    <th class="text-center col-2"></th>
                    <th class="text-center col-1">Email Address</th>
                    <th class="text-center col-1"> </th>
                    <th class="text-center col-1"> </th>
                </tr>
               </thead>
               <tbody>
                <!--Repeatble Template Row-->
 
                  <% for(let count =0; count < ContactsList.length; count ++) {%>
                    <tr>
                        <td class="text-center"><%= ContactsList[count].contactname %></td>
                        <td class="text-center"><%= ContactsList[count].contactnumber %></td>
                        <td class="text-center"><%= ContactsList[count].emailaddress %></td>
                         <% if (displayName) { %>
                        <td class="text-center col-1">
                            <a href="/contacts-list/edit/<%= ContactsList[count]._id %>" class="btn btn-primary btn-sm">
                          <i class="fas fa-pencil-alt"></i> Edit</a>
                        </td>
                        <td class="text-center col-1">
                            <a href="/contacts-list/delete/<%= ContactsList[count]._id %>" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash-alt"></i> Delete</a>
                        </td>
                         <% } %>
                    </tr>
                  <%}%>
                </tbody>
            </table>
        </div>
    </div>
</main>

</div>