<body style="background-color:#ABEBC6">
    <div class="container-fluid bg-3 text-center">
        <h1><em> Create Your Survey in minutes... </h1>
        <form method="post">
            <div class="row ">
                <div class="col-sm-2">
                    <label for="surveytitle" class="form-label">Survey Name</label>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="surveytitle" aria-describedby="surveytitle"
                        name="surveytitle" value="<%=survey.title%>">
                </div>
                <div class="col-sm-2">
                    <label for="validity" class="form-label">Survey Validity Date</label>
                </div>
                <div class="col-sm-2">
                    <input type="date" class="form-control" id="validity" aria-describedby="validity" name="validity" value="<%=survey.validDate%>">
                </div>
            </div>
            <div class="row ">
                <div class="col-sm-2">
                    <label for="description" class="form-label">Description </label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="description" aria-describedby="description"
                        name="description" value="<%=survey.description%>">
                </div>
            </div>
            </br>
            <div class="container">
                <div class="row">
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Enter your first question" id="q1"
                            aria-describedby="q1" aria-label="q1" name="q1" required value="<%=survey.questions.q1.questionText%>">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Enter your second question" id="q2"
                            aria-describedby="q2" aria-label="q2" name="q2" required value="<%=survey.questions.q2.questionText%>">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Enter your third question" id="q3"
                            aria-describedby="q3" aria-label="q3" name="q3" required value="<%=survey.questions.q3.questionText%>">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Enter your fourth question" id="q4"
                            aria-describedby="q4" aria-label="q4" name="q4" required value="<%=survey.questions.q4.questionText%>">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Enter your fifth question" id="q5"
                            aria-describedby="q5" aria-label="q5" name="q5" required value="<%=survey.questions.q5.questionText%>">
                    </div>
                </div>
            </div>
            </br>
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-primary" style="background-color:#1E8449">Update
                            Survey</button>
                    </div>
                </div>
            </div>
        </form>
    </div>